body {
  display: block;
  width: 70%;
  margin: 0 auto; 
  max-width: 600px;
}
.search {
  color: grey;
  font-size: 24px;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  margin-left: 35px;
  padding-left: 80px;
  border-radius: 25px;
  border: 2px solid grey;
}
.emoji {
  background: white;
  border: none;
  font-size: 24px;
}
.tt {
  color: grey;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 34px;
}
.units {
  color: grey;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 34px;
}
.but {
  background-color: rgb(0, 255, 149);
  border: none;
  color: grey;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.emo {
  margin: 0;
  font-size: 90px;
  flex: 35%;
}
.city {
  flex: 65%;
  color: grey;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  font-size: 32px;
  border: 30px solid white;
}
.cc {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 42px;
}
.col {
  color: grey;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  border-radius: 17px;
  border: 1px solid white;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: grey;
  font-size: 20px;
  list-style: none;
  font-weight: 100;
}
.wiil {
  font-size: 18px;
  color: grey;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  margin: 0;
  flex: 35%;
}
.cels {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 42px;
  font-size: 26px;
}
.code {
  color: grey;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}
.cont {
  border: 10px solid #72afd3;
  border-radius: 25px;
  padding: 15px 60px;
}